.idea/
axn-ascript/

axn-client/axn-cln-admin/axn-cln-admin.iml
axn-client/axn-cln-platform/axn-cln-platform.iml

axn-client/axn-cln-admin/build/
axn-client/axn-cln-platform/build/

axn-client/axn-cln-admin/node_modules
axn-client/axn-cln-platform/node_modules

axn-server/.gradle
axn-server/.gout
axn-server/.log
axn-server/axn-srv-database/build/
axn-server/axn-srv-database/data/config/env.debug.properties
axn-server/axn-srv-database/data/config/env.production.properties
axn-server/axn-srv-database/data/sql/pg_secure_insert_data.sql

axn-server/axn-srv-rest-api/build/
axn-server/axn-srv-rest-api/data/temp/